{% extends 'base_layout.html' %}


{% block content %}

<div class="container">
<div class="lead-detail">
<h1>LEAD DETAILS #ID:{{lead.id}}</h1>
<h2>Name:
{{lead.names}}</h2>
<p>Description : <strong>{{lead.description}}</strong>
</p>
 <div class="stage">
 <p>Type : <strong>{{lead.leadtype}}</strong></p>
 </div>
 </div>
<table>
<tr>
<td>
<a class="btn btn-success" href="/leads/promote/{{lead.id}}">
<i class="fa fa-arrow-right"></i>
Promote
</a>
</td>
<td>
<a class="btn btn-primary" href="/leads/{{lead.id}}/contacts/create">
<i class="fa fa-plus"></i> create Contact
</a>
</td>
<td>
<a class="btn btn-primary" href="/leads/{{lead.id}}/meetings/create">
<i class="fa fa-plus"></i> create Meeting
</a>
</td>
<td>
<a class="btn btn-outline-secondary" href="/leads/{{lead.id}}/contacts">
<i class="fa fa-eye"></i> View Contacts
</a>
</td>
<td>
<a class="btn btn-outline-info" href="/leads/{{lead.id}}/meetings">
<i class="fa fa-eye"></i> View Meetings
</a>
</td>
</tr>
</table>
 
</div

{% endblock  %}