{% extends 'base_layout.html' %}

{% block content %}


<div class="container">
<h1>{{title}} A Leads</h1>
{% load crispy_forms_tags %}
<div class="row">
<div class="col-md-6">
 <form action="" method="POST">
  {% csrf_token %}
  {{form |crispy}}
   <button class="btn btn-block btn btn-primary" type="submit">{{buttonText}}</button>
 </form>
</div>
{% comment %} <div class="col-md-6">
<table class="table">
<thead>
<th>Names<th>
<th>LeadType<th>
<th>Description<th>
<th>Promote<th>
</thead>

<tbody>
{% for lead in leads %}
 <tr>
  <td>{{lead.names}}<td>
<td>{{lead.leadtype}}<td>
<td>{{lead.description}}<td>
<td>
<a class="btn btn-primary" href="/leads/promote/{{lead.id}}">Promote</a>
<td>
 </tr>
 {% endfor %}
<tbody>

</table>
</div> {% endcomment %}
</div>
</div>
{% endblock  %}