{% extends 'base_layout.html' %}

{% block content %}

<h2>List of Leads #{{leads|length}}</h2>
<div class="container">
<div class="row">
<div class="col-md-12 newbtn">
<a class="btn btn-primary" href="/leads/create">
<i class="fa fa-plus"></i>
New
</a>
</div>
<div class="col-md-12">
<table class="table">
<thead>
<th>Names<th>
<th>LeadType<th>
<th>Description<th>
<th>Update</th>
<th>Delete</th>
<th>Detail<th>
</thead>

<tbody>
{% for lead in leads %}
 <tr>
  <td>{{lead.names}}<td>
<td>{{lead.leadtype}}<td>
<td>{{lead.description}}<td>
<td>
<a class="btn btn-warning" href="/leads/update/{{lead.id}}">
<i class="fa fa-pencil"></i>
</a>
</td>
<td>
<a class="btn btn-danger" href="/leads/delete/{{lead.id}}">
<i class="fa fa-trash"></i>
</a>
</td>
<td>
<a class="btn btn-outline-success" href="/leads/{{lead.id}}/detail">
<i class="fa fa-eye"></i>
</a>
</td>
 </tr>
 {% endfor %}
<tbody>

</table>
</div>
</div>
</div>
{% endblock %}


