{% extends 'base_layout.html' %}

{% block content %}


<div class="container">
<h1>Institution Name : {{lead.names}}</h1>
<h2>List of Meetings #: {{meetings|length}}</h2>
<div class="row">
<div class="col-md-12">
<table class="table">
<thead>
<th>Title<th>
<th>Venue<th>
<th>About<th>
<th>Time<th>
<th>Update</th>
<th>Delete</th>
</thead>

<tbody>
{% for meeting in meetings %}
 <tr>
  <td>{{meeting.title}}<td>
<td>{{meeting.venue}}<td>
<td>{{meeting.about}}<td>
<td>{{meeting.time}}<td>
<td>
<a class="btn btn-warning" href="/leads/meetings/update/{{meeting.id}}">
<i class="fa fa-pencil"></i>
</a>
</td>
<td>
<a class="btn btn-danger" href="/leads/meetings/delete/{{meeting.id}}">
<i class="fa fa-trash"></i>
</a>
</td>


 </tr>
 {% endfor %}
<tbody>

</table>
</div>
</div>
</div>
{% endblock %}
