{% extends 'base_layout.html' %}

{% block content %}

<h1>Hello Create Meeting</h1>

<div class="container">
{% load crispy_forms_tags %}
<div class="row">
<div class="col-md-6">
 <form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% comment %} {{form |crispy}} {% endcomment %}
   <div class="form-row">
    <div class="form-group col-md-6">
      {{form.title|as_crispy_field}}
    </div>
    <div class="form-group col-md-6">
      {{form.venue|as_crispy_field}}
    </div>
  </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      {{form.about|as_crispy_field}}
    </div>
    <div class="form-group col-md-6">
      {{form.time|as_crispy_field}}
    </div>
  </div>
   <div class="form-row">
    <div class="form-group col-md-12">
      {{form.conclusion|as_crispy_field}}
    </div>
  </div>
   <div class="form-row">
    <div class="form-group col-md-12">
      {{form.meetingminute}}
    </div>
  </div>
   <button class="btn btn-block btn btn-primary" type="submit">Save</button>
 </form>
</div>
</div>

{% endblock  %}