{% extends 'base_layout.html' %}

{% block content %}

<h1>List of Contact #{{contacts|length}}</h1>
<div class="container">
<div class="row">
<div class="col-md-12">
<table class="table">
<thead>
<th>Names<th>
<th>Email<th>
<th>Address<th>
<th>Phone<th>
<th>Is Primary<th>
<th>Update</th>
<th>Delete</th>
</thead>

<tbody>
{% for contact in contacts %}
 <tr>
  <td>{{contact.names}}<td>
<td>{{contact.email}}<td>
<td>{{contact.address}}<td>
<td>{{contact.phone}}<td>
{%if contact.isprimary%}
 <td>YES<td>
 {% else %}
 <td>NO<td>
 {% endif %}
<td>
<a class="btn btn-warning" href="/leads/contacts/update/{{contact.id}}">
<i class="fa fa-pencil"></i>
</a>
</td>
<td>
<a class="btn btn-danger" href="/leads/contacts/delete/{{contact.id}}">
<i class="fa fa-trash"></i>
</a>
</td>


 </tr>
 {% endfor %}
<tbody>

</table>
</div>
</div>
</div>
{% endblock %}
