{% extends 'base_layout.html' %}

{% block content %}

<h1>Hello Create Contact</h1>

<div class="container">
{% load crispy_forms_tags %}
<div class="row">
<div class="col-md-6">
 <form action="" method="POST">
  {% csrf_token %}
  {{form |crispy}}
   <button type="submit">Save</button>
 </form>
</div>
</div>

{% endblock  %}