
  .site-form {
    background: #fff;
    padding: 1em 1em 1em;
    max-width: 400px;
    margin: 30px auto 0;
    box-shadow: 0 0 1em #222;
    border-radius: 2px;
  }
    h2 {
      margin:0 0 50px 0;
      padding:10px;
      text-align:center;
      font-size:30px;
      color:darken(#e5e5e5, 50%);
      border-bottom:solid 1px #e5e5e5;
    }
    .lef-nav li{
      display: inline-block;
      list-style-type: none;
      margin-left: 100px;
      margin-right: 0px;
      margin-top: 15px;
  }

  .center-h1{
    position: fixed;
  top: 40%;
  left: 25%;
  }
  .newbtn{
    margin-bottom: 15px;
    padding-bottom:30px;
  }

  /* .lead-detail { 
    padding: 20px;
    background-color: #e8e8eb;
    border: 1px solid #5f5fd4;
    margin-bottom: 50px;
  } */