{% extends 'base_layout.html' %}


{% block content %}
<div class="login">

{% load crispy_forms_tags %}
<form class="site-form" action="{% url 'accounts:login'%}" method="post">
<h1>LOGIN</h1>
 {% csrf_token %}
{{form|crispy}}

{% if request.GET.next%}
    <input type="hidden" name="next" value="{{request.GET.next}}">
{%endif%}
<input class="btn btn-block btn btn-success" type="submit" value="LOGIN">
</form>
</div>

{% endblock  %}