{% extends 'base_layout.html' %}


{% block content %}
<div class="signup">
{% load crispy_forms_tags %}
<form class="site-form" action="/accounts/signup/" method="post">
<h2>SignUP</h2>
 {% csrf_token %}
{{form|crispy}}
<input class="btn btn-block btn btn-primary" type="submit" value="SignUp">
</form>
</div>

{% endblock  %}