
{% load static %}
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link  rel="stylesheet" href="{%static 'styles.css'%}">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/leads">Home <span class="sr-only">(current)</span></a>
      </li>
      {%if user.is_authenticated%}
    {% else %}
    
    {%endif%}
    </ul>
     {%if user.is_authenticated%}
     <h5 style="margin-right:70px;">USER : <strong>{{user.username}}</strong></h5>
    <form class="form-inline my-2 my-lg-0" action="{% url 'accounts:logout'%}" method="POST">
    {% csrf_token %}
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
    </form>
    {%else%}
     <div class="lef-nav">
     <ul>
     <li>
    <a class="btn btn-outline-secondary" href="{%url 'accounts:login'%}">Login</a></li>
    <li class="signup-li">
    <a class="btn btn-outline-secondary" href="{%url 'accounts:signup'%}">SignUp</a>
    </li>
     </ul>
     </div>
    {%endif%}
  </div>
</nav>
<div class="wrapper">
    {% block content %}
    {% endblock  %}
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>